* {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin-left: auto;
    margin-right: auto;

    max-width: 1200px;
    text-align: center;
}

h1 {
    font-weight: bold;
}

content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

textarea {
    resize: vertical;
    font-family: 'Source Code Pro', monospace;
    flex-grow: 1;
}

.button {
    padding: 1em;
    font-weight: bold;
    text-shadow: 0.5px 0.5px darkgray;
    margin: 1em;
    flex-grow: 0;
}

#compose-input {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 20em;
}

#hcl-output {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 20em;
}
